.bg-footer{
    background-color: #3c75c5
}

.bg-blue{
    background-color:#2196f3!important 
}

.bg-trans-20{
    background-color:rgba(0,0,0,.20)
}

.bg-trans-40{
    background-color:rgba(0,0,0,.40)
}

.bg-trans-60{
    background-color:rgba(0,0,0,.60)
}

.bg-trans-80{
    background-color:rgba(0,0,0,.80)
}