h1 {
    color:white;
}

h2{
    color:white;
}

h3 {
    color:white;
}

h4 {
    color:white;
}

h5 {
    color:white;
}

h6 {
    color:white;
}

a {
    color: #1579f6;
}

a:focus, a:hover {
    color: #f8f9fa;
}