#mainNav .navbar-brand{color:rgba(0,0,0,.7);font-family:Catamaran,Helvetica,Arial,sans-serif;font-weight:200;letter-spacing:1px}#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:black;}
#mainNav .navbar-nav>li>a:focus{color:#fdcc52}
a:hover{color:#fdcc52}